In [24]:
#install.packages("RCurl")
library(RCurl)
library(tidyverse, warn.conflicts = FALSE)
library(lubridate, warn.conflicts = FALSE)

row_calc <- function(tibble){
    n = as.integer(nrow(tibble))
    data <- tail(tibble, (n-4))
    names(data) <- c('Time','Value(m^3/s)')
    return(data)
    }

opuha <- as_tibble(read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40TK3&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))) %>% row_calc()
rakaia <- as_tibble(read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge.Master%4068526&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))) %>% row_calc()
waitaki <- as_tibble(read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40TK6&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))) %>% row_calc()
kawarau <- as_tibble(read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40AX2&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))) %>% row_calc()                                    
clutha <- as_tibble(read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge.Master%4075207&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))) %>% row_calc()                  
mataura <- as_tibble(read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40DN5&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))) %>% row_calc() 
#empty data sets, monowai <- read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40DN10&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))                    
#taieri <- read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40DN3&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))
#test <- rakaia %>% month(rakaia 
head(opuha, 10)
head(rakaia, 10)
head(waitaki, 10)
head(kawarau, 10)
head(clutha, 10)
head(mataura, 10)
#head(monowai, 10)
#head(taieri, 10)

   Time                Value(m^3/s)
1  2020-01-16 08:45:00 6.539
2  2020-02-13 07:50:00 7.677
3  2020-03-12 08:15:00 7.996
4  2020-05-14 08:45:00 3.861
5  2020-06-18 08:35:00 3.534
6  2020-07-16 09:00:00 2.742
7  2020-08-13 09:30:00 3.255
8  2020-09-17 09:15:00 1.857
9  2020-10-15 08:40:00 6.455
10 2020-11-12 08:40:00 19.178

   Time                Value(m^3/s)
1  2020-01-01 00:00:00 184.529645523513
2  2020-01-01 00:05:00 186.04606120743
3  2020-01-01 00:10:00 183.270616488161
4  2020-01-01 00:15:00 184.025526525119
5  2020-01-01 00:20:00 183.773720713663
6  2020-01-01 00:25:00 184.277501463196
7  2020-01-01 00:30:00 184.78195870169
8  2020-01-01 00:35:00 184.025526525119
9  2020-01-01 00:40:00 180.515637687027
10 2020-01-01 00:45:00 184.78195870169

   Time                Value(m^3/s)
1  2020-01-16 12:00:00 520
2  2020-02-13 10:50:00 722
3  2020-03-12 12:45:00 462
4  2020-05-14 11:40:00 460
5  2020-06-18 11:30:00 350
6  2020-07-16 12:00:00 400
7  2020-08-13 12:00:00 330
8  2020-09-17 12:00:00 213
9  2020-10-15 11:30:00 298.28
10 2020-11-12 11:15:00 320

   Time                Value(m^3/s)
1  2020-01-16 14:10:00 209.09
2  2020-02-11 14:10:00 476.332
3  2020-03-17 14:10:00 151.195
4  2020-05-12 14:10:00 173.726
5  2020-06-16 14:10:00 110.957
6  2020-07-14 14:00:00 163.319
7  2020-08-10 14:00:00 196.1
8  2020-09-15 14:00:00 260.1
9  2020-10-13 14:15:00 395.755
10 2020-11-17 14:05:00 230.3

   Time                Value(m^3/s)
1  2020-01-01 00:00:00 773.014974417731
2  2020-01-01 00:05:00 771.099712193878
3  2020-01-01 00:10:00 770.142650776021
4  2020-01-01 00:15:00 770.142650776021
5  2020-01-01 00:20:00 769.664262565032
6  2020-01-01 00:25:00 768.707771245425
7  2020-01-01 00:30:00 768.229668179433
8  2020-01-01 00:35:00 767.27374734177
9  2020-01-01 00:40:00 767.751660204435
10 2020-01-01 00:45:00 766.318207038935

   Time                Value(m^3/s)
1  2020-01-22 08:30:00 32.7
2  2020-02-12 10:30:00 139.378
3  2020-03-11 09:30:00 94.289
4  2020-05-20 09:00:00 34.3
5  2020-06-10 09:00:00 56.2
6  2020-07-15 08:50:00 140.7
7  2020-08-12 09:00:00 51.34
8  2020-09-09 09:20:00 86.68
9  2020-10-14 08:30:00 93.3
10 2020-11-11 10:10:00 96.16