In [27]:
#install.packages("RCurl")
library(RCurl)
library(tidyverse, warn.conflicts = FALSE)
library(lubridate, warn.conflicts = FALSE)

row_calc <- function(tibble){
    n = as.integer(nrow(tibble))
    data <- tail(tibble, (n-4))
    names(data) <- c('Time','Value(m^3/s)')
    return(data)
    }

opuha <- as_tibble(read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2015-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=Monthly&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40TK3&Datasets[0].Calculation=Aggregate&Datasets[0].UnitId=140&_=1634269058041"))) %>% row_calc()
rakaia <- as_tibble(read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2010-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge.Master%4068526&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))) %>% row_calc()
waitaki <- as_tibble(read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2010-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40TK6&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))) %>% row_calc()
kawarau <- as_tibble(read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2010-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40AX2&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))) %>% row_calc()                                    
clutha <- as_tibble(read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2010-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge.Master%4075207&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))) %>% row_calc()                  
mataura <- as_tibble(read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2010-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40DN5&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))) %>% row_calc() 
#empty data sets, monowai <- read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40DN10&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))                    
#taieri <- read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40DN3&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))
head(opuha, 10)
head(rakaia, 10)
head(waitaki, 10)
head(kawarau, 10)
head(clutha, 10)
head(mataura, 10)
#head(monowai, 10)
#head(taieri, 10)

   Time                Value(m^3/s)
1  2010-01-14 08:35:00 5.115
2  2010-02-18 08:30:00 4.124
3  2010-03-18 08:46:00 6.491
4  2010-04-18 08:35:00 5.355
5  2010-05-20 08:45:00 2.029
6  2010-06-17 08:50:00 9.5
7  2010-07-15 08:50:00 2.079
8  2010-08-19 08:45:00 8.47
9  2010-09-16 08:35:00 10.983
10 2010-10-14 08:30:00 6.204

   Time                Value(m^3/s)
1  2010-01-01 00:00:00 199.26562571716
2  2010-01-01 00:15:00 195.042305618365
3  2010-01-01 00:30:00 193.730150963393
4  2010-01-01 00:45:00 197.149318065859
5  2010-01-01 01:00:00 195.831344877659
6  2010-01-01 01:15:00 198.470922190157
7  2010-01-01 01:30:00 193.992290653487
8  2010-01-01 01:45:00 196.094648832437
9  2010-01-01 02:00:00 197.941845104907
10 2010-01-01 02:15:00 196.885432814789

   Time                Value(m^3/s)
1  2010-01-14 11:35:00 723
2  2010-02-18 12:05:00 445
3  2010-03-18 11:50:00 320
4  2010-04-18 12:00:00 196
5  2010-05-20 12:00:00 450
6  2010-06-17 11:45:00 460
7  2010-07-15 11:45:00 480
8  2010-08-19 11:45:00 505
9  2010-09-16 12:10:00 455
10 2010-10-14 12:10:00 205

   Time                Value(m^3/s)
1  2010-01-12 13:50:00 376.466
2  2010-02-16 14:00:00 152.946
3  2010-03-16 13:50:00 106
4  2010-04-13 14:15:00 278.222
5  2010-05-11 14:15:00 475.667
6  2010-06-15 14:15:00 127.186
7  2010-07-13 14:10:00 84.847
8  2010-08-17 14:15:00 182.68
9  2010-09-13 13:20:00 201.586
10 2010-10-12 14:15:00 246.947

   Time                Value(m^3/s)
1  2010-01-01 00:00:00 692.510402261311
2  2010-01-01 00:15:00 695.286933485508
3  2010-01-01 00:30:00 696.676530182372
4  2010-01-01 00:45:00 698.530704726805
5  2010-01-01 01:00:00 699.922369020655
6  2010-01-01 01:15:00 699.922369020655
7  2010-01-01 01:30:00 701.779298051382
8  2010-01-01 01:45:00 703.173026481672
9  2010-01-01 02:00:00 703.637799006227
10 2010-01-01 02:15:00 704.567638486647

   Time                Value(m^3/s)
1  2010-01-13 08:30:00 398.48
2  2010-02-10 08:45:00 28.406
3  2010-03-10 08:40:00 18.203
4  2010-04-14 08:45:00 28.644
5  2010-05-12 08:35:00 52.818
6  2010-06-09 08:30:00 221.948
7  2010-07-14 08:40:00 49.607
8  2010-08-11 08:30:00 101.84
9  2010-09-15 09:00:00 106.58
10 2010-10-13 08:30:00 135.39