In [3]:
#install.packages("RCurl")
library(RCurl)
library(tidyverse, warn.conflicts = FALSE)
library(lubridate, warn.conflicts = FALSE)

row_calc1 <- function(tibble){
    n = as.integer(nrow(tibble))
    data <- tail(tibble, (n-4))
    names(data) <- c('Time','Value(m^3/s)')
    return(data)
}

row_calc2 <- function(tibble){
    n = as.integer(nrow(tibble))
    data <- tail(tibble, (n-4)) %>% select(-X) 
    names(data) <- c('Time','Value(m^3/s)')
    return(data)  
}
test <- as_tibble(read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2015-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=Monthly&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40TK3&Datasets[0].Calculation=Aggregate&Datasets[0].UnitId=140")))
opuha <- as_tibble(read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2015-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=Monthly&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40TK3&Datasets[0].Calculation=Aggregate&Datasets[0].UnitId=140"))) %>% row_calc2()
rakaia <- as_tibble(read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2015-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=Monthly&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge.Master%4068526&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))) %>% row_calc2()
waitaki <- as_tibble(read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2015-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40TK6&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))) %>% row_calc1()
kawarau <- as_tibble(read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2015-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40AX2&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))) %>% row_calc1()                                    
clutha <- as_tibble(read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2015-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=Monthly&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge.Master%4075207&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))) %>% row_calc2()                  
mataura <- as_tibble(read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2015-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40DN5&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))) %>% row_calc1() 
#empty data sets, monowai <- read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40DN10&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))                    
#taieri <- read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40DN3&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))
head(opuha, 10)
head(rakaia, 10)
head(waitaki, 10)
head(kawarau, 10)
head(clutha, 10)
head(mataura, 10)
head(test, 10)

   Time                Value(m^3/s)
1  2015-01-01 00:00:00 8.555
2  2015-02-01 00:00:00 5.59
3  2015-03-01 00:00:00 2.23
4  2015-04-01 00:00:00 1.817
5  2015-05-01 00:00:00 1.788
6  2015-06-01 00:00:00 1.906
7  2015-07-01 00:00:00 2.162
8  2015-08-01 00:00:00 2.215
9  2015-09-01 00:00:00 2.399
10 2015-10-01 00:00:00 6.485

   Time                Value(m^3/s)
1  2015-01-01 00:00:00 145.568221403779
2  2015-02-01 00:00:00 114.976124514825
3  2015-03-01 00:00:00 98.5150735676918
4  2015-04-01 00:00:00 260.14434004806
5  2015-05-01 00:00:00 139.35321437759
6  2015-06-01 00:00:00 158.668757343844
7  2015-07-01 00:00:00 141.940141886092
8  2015-08-01 00:00:00 148.165122186851
9  2015-09-01 00:00:00 128.414025644167
10 2015-10-01 00:00:00 156.361142966169

   Time                Value(m^3/s)
1  2015-01-08 10:48:00 500
2  2015-02-12 11:50:00 380
3  2015-03-12 11:50:00 360
4  2015-04-09 11:45:00 310
5  2015-05-07 11:52:00 450
6  2015-06-11 11:50:00 350
7  2015-07-16 11:50:00 360
8  2015-08-13 11:40:00 360
9  2015-09-10 11:45:00 350
10 2015-10-08 11:50:00 350

   Time                Value(m^3/s)
1  2015-01-13 14:10:00 188.786
2  2015-02-17 14:45:00 198.863
3  2015-03-24 14:10:00 123.158
4  2015-04-14 15:00:00 114.78
5  2015-05-12 14:20:00 481.125
6  2015-06-16 14:30:00 270.824
7  2015-07-14 14:10:00 167.441
8  2015-08-11 14:15:00 160.302
9  2015-09-15 14:10:00 129.523
10 2015-10-13 14:10:00 226.826

   Time                Value(m^3/s)
1  2015-01-01 00:00:00 491.541463328321
2  2015-02-01 00:00:00 519.548637960958
3  2015-03-01 00:00:00 349.778829070261
4  2015-04-01 00:00:00 741.608291957274
5  2015-05-01 00:00:00 668.578988678156
6  2015-06-01 00:00:00 860.756601489443
7  2015-07-01 00:00:00 694.823931705313
8  2015-08-01 00:00:00 641.315879244822
9  2015-09-01 00:00:00 411.750354948318
10 2015-10-01 00:00:00 633.228497241069

   Time                Value(m^3/s)
1  2015-01-06 08:45:00 25.961
2  2015-02-10 08:45:00 185.112
3  2015-03-10 08:30:00 45.957
4  2015-04-14 09:30:00 73.971
5  2015-05-12 09:30:00 92.784
6  2015-06-09 09:30:00 170.067
7  2015-07-14 09:30:00 92.784
8  2015-08-11 09:30:00 173.956
9  2015-09-08 09:30:00 173.956
10 2015-10-13 08:30:00 76.144

   X.Bulk.Export...Points.every.1.month.s. X
1
2
3
4  Start of Interval (UTC+12:00)           End of Interval (UTC+12:00)
5  2015-01-01 00:00:00                     2015-02-01 00:00:00
6  2015-02-01 00:00:00                     2015-03-01 00:00:00
7  2015-03-01 00:00:00                     2015-04-01 00:00:00
8  2015-04-01 00:00:00                     2015-05-01 00:00:00
9  2015-05-01 00:00:00                     2015-06-01 00:00:00
10 2015-06-01 00:00:00                     2015-07-01 00:00:00
   X.1
1  TK3
2  Opuha at Skipton Br. (NRWQN)
3  Discharge Value.NRWQN
4  Average (m^3/s)
5  8.555
6  5.59
7  2.23
8  1.817
9  1.788
10 1.906